<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/proteins/">Back to Proteins</a> <br>
    <h1 >All of our <%= ProteinDetail.protein %> options</h1>

    <% ProteinDetail.tacos.forEach(function(db_item) { %> 
    Title: <%=db_item.name%><br/>
    Condiments: <%=db_item.condiments%> <br/>
    Sauces: <%=db_item.sauces%> <br/>
    Description: <%=db_item.description%> <br/><br/>
    <% }) %>

    <form action="/proteins/addtaco" method="POST">
      <h3>Submit your taco for approval!</h3>
      <input type="hidden" name="hiddenid" value="<%=ProteinDetail._id%>" />
      <label for="taconame">Taco Title:</label><br />
      <input type="text" name="taconame" /><br /><br />
      <label for="tacocondiments">Taco Condiments:</label><br />
      <input type="text" name="tacocondiments" /><br /><br />
      <label for="tacosauces">Taco Sauces:</label><br />
      <input type="text" name="tacosauces" /><br /><br />
      <label for="tacodescription">Taco Description:</label><br />
      <input type="text" name="tacodescription" /><br /><br />
      <button type="submit" class="submitProtein">Submit Taco</button>
    </form>
  </body>
</html>
